:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  --ltgray: #EDEAE9;
  --dkgray: #2E2522;
  --brown: #8D736A;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
}

img *, svg * {
  transition: inherit;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

main {
  min-width: 100%;
  height: 100%;
}