[class^="icon-"] {
  display: inline-block;
}

.icon-microphone {
  width: 8em;
}

.active.icon-microphone {
  animation: inflate 1.3s infinite;
}

@keyframes inflate {
  0%, 100% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.1);
  }
}

.logo-site {
  display: flex;
  align-items: baseline;
  font-family: var(--font-secondary);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  overflow: hidden;
}

.logo-site:hover::after {
  width: 3.3em;
}

.logo-site::after {
  content:'Barista';
  display: block;
  width: 0;
  transition: 0.3s all;
}

.logo-site::before {
  content: url('/assets/icon-v60.svg');
  display: block;
  width: 30px;
  background-color: var(--brown);
}